
/* backgrounds */
.background-login-signup {
  background-image: url(./img/login-signup.png);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.background-vendor-layout {
  background-color: #eff2f6;
}
.background-album-details{
  background-color: #eff2f6;
}
.background-profile-top{
  background-color: #d9d9d9;
  height: 120px;
  width: 100%;
}
.background-profile{
  background-color: #eff2f6;
  height: 140vh;
}

.background-business-profile{
  background-color: #eff2f6;
}

.background-vendor-cards-overlay {
  background-color: #eff2f6;
}

.background-home-body {
  background-color: #eff2f6;
  margin-bottom: -3rem;
}

.background-top-add-business {
  background-color: #d9d9d9;
  height: 140px;
  width: 100%;
}

.background-top-business-approval {
  background-color: #d9d9d9;
  height: 140px;
  width: 100%;
}

.background-top-specific-vendor {
  background-color: #d9d9d9;
  height: 140px;
  width: 100%;
}

.background-body-specific-vendor {
  background-color: #eff2f6;
  margin-bottom: -8rem;
}


/* fonts */
.font.fontweight-400.fontweight-500.fontweight-600.fontweight-700 {
  font-family: "Public Sans";
}

.fontweight-700 {
  font-weight: 700;
}

.fontweight-600 {
  font-weight: 600;
}

.fontweight-500 {
  font-weight: 600;
}
.fontweight-400 {
  font-weight: 400;
}

/* button*/
.btn-outline,
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active,
.open > .dropdown-toggle.btn-outline {
  color: black;
  border: 1px solid black;
  background-color: rgb(250, 250, 250);
}

/* visibile eye*/
#eye-icon-login-password {
  position: absolute;
  top: 48%;
  right: 10%;
}

#eye-icon-signup-password {
  position: absolute;
  top: 47%;
  right: 10%;
}

#eye-icon-signup-cpassword {
  position: absolute;
  top: 43%;
  right: 10%;
}

.eye-icon:hover {
  color: black;
  cursor: pointer;
}

/* input field type number*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* item*/
.item {
  object-fit: cover;
  height: 300px;
  max-height: 300px;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

.card-overlay {
  position: absolute;
  bottom: 5%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  left: 0;
}

.star-icon {
  color: #ffcc00;
}

.star-icon-review {
  color: #ffcc00;
  font-size: 2rem;
}

.star-icon-vendor-details {
  color: #000000;
}
.star {
  cursor: pointer; 
  transition: color 200ms; 
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  margin-top: 0;
}

.scrollbutton {
  position: fixed;
  right: 1%;
  bottom: 40px;
  font-size: 1.5rem;
  z-index: 1;
  cursor: pointer;
}

.pagination-hover {
  cursor: pointer;
}


.footer {
  background-color: #353434;
  width: 100%;
  height: 13rem; 
}

.dropdown-filter {
  width: 15rem;
  color: gray;
  height: 2.8rem;
}

.divider-filter {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgb(0, 0, 0);
  color: black;
  width: 100%;
}


.textfield-filter {
  display: inline;
  width: 5rem;
  color: gray;
  height: 2.8rem;
}

.vendor-packages-album {
  width: 40vw;
  height: 25vh;
  background-color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #d9d9d9;
}

.album-slider .slick-prev {
  left: -1.1rem;
}

.album-slider .slick-next {
  right: -1.1rem;
}

.modal-wrapper{
  position:fixed;
  left:0;
  right:0;
  bottom:0;
  top:0;
  background-color: rgba(189,189,189,0.9);
}

.modal-container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 30rem;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  background-color: #ffff;
}

.modal-container-review{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 30rem;
 
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  background-color: #ffff;
}

#account.dropdown-menu{
  right: 0;
  left: auto;
}

.vendor-reviews{
  margin: 3% 0 10%;
  border: solid #dee2e6!important;
}

.alertmessage{
  position: fixed;
  z-index: 1010;
  right: 1rem;
  left: 1rem;
  text-align: center;
}
body{
  overflow-y:scroll !important;
  padding-right:0 !important;
}
.modal-open{
  overflow-y:scroll !important;
  padding-right:0 !important;
}


.verifyEmailContainer {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.verifyEmailSuccessBtn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: #3bb19b;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}